$colorDark: rgb(20, 17, 14);
$colorBrown: rgb(28, 24, 20);
$colorBlue: rgb(18, 19, 21);
$colorWhite: rgb(255, 255, 255);
$colorGold: rgb(201, 158, 113);
$colorDarkGold: rgb(155, 122, 86);

//========================================================================================

$urbanistFont: var(--font-urbanist);
$righteousFont: var(--font-righteous);
